[user]
	name = Chris St. Pierre
	email = chris.a.st.pierre@gmail.com

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto

[alias]
        ci = commit
        co = checkout
        st = status
        review = !git push origin HEAD:refs/for/$(git rev-parse --abbrev-ref HEAD)
        story  = "!git push origin origin:refs/heads/story/fb$1_$2; git fetch origin; git co --track origin/story/fb$1_$2"
