[user]
	name = Chris St. Pierre
	email = chris.a.st.pierre@gmail.com

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto

[alias]
        ci = commit
        co = checkout
        st = status
        root = "rev-parse --show-toplevel"
        upstream = "!git remote -v | grep -q dotfiles || ( git reset --hard @{upstream}; git pull --rebase; git clean -dffx; git gc )"
        hist = "log --pretty=format:\"%h %ad | %s%d [%an]\" --date=short"
        clone-fork = "!clone-with-fork.sh"
        reviewer = "!add-gerrit-reviewer.sh"
        chain = "!git-chain.sh"
        fix-merge = "!git chain 'co $1' upstream 'co $2' upstream 'merge $1'"
        what-branch = "!git branch --no-color 2> /dev/null | sed -e '/^[^*]/d; s/^* //;'"
        rename-branch = "!git chain 'co $1' 'branch $2' 'co $2' 'branch -D $1'"
        full-rebase = "!git chain 'co $1' upstream 'co -' 'rebase $1'"
        os-bug = "!git chain 'co openstack-master' upstream 'branch $1' 'co $1'"
        # we frequently have local changes to dotfiles, so this makes it easier to pull and push commits
        pulldot = "!git chain stash 'pull --rebase' 'stash apply'"
        pushdot = "!git chain stash 'pull --rebase' push 'stash apply'"

[push]
        default = current

[gitreview]
	username = stpierre

[github]
        user = stpierre

[sendemail]
        from = chris.a.st.pierre@gmail.com
        smtpencryption = tls
        smtpserver = smtp.gmail.com
        smtpuser = chris.a.st.pierre@gmail.com
        smtpserverport = 587
