[user]
	name = Chris St. Pierre
        email = chris.a.st.pierre@gmail.com
        signingkey = BA70C55C63A66668852E270610DF5E32832981E6

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto

[alias]
        a = add
        am = amend
        ama = "amend -a"
        br = branch
        chain = "!git-chain.sh"
        ci = commit
        cia = "ci -a"
        co = checkout
        d = diff
        fixup = cia --amend
        fr = full-rebase
        fu = fixup
        full-rebase = !sh -c 'git chain "co\\ ${1:-master}" upstream "co\\ $(git what-branch)" "rebase\\ ${1:-master}"' -
        g = grep
        h = hist
        hist = "log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
        low = !echo '___________________ ____ __________   ____  __.\n\\_   ___ \\______   \\    |   \\      \\ |    |/ _|\n/    \\  \\/|       _/    |   /   |   \\|      <\n\\     \\___|    |   \\    |  /    |    \\    |  \\\n \\______  /____|_  /______/\\____|__  /____|__ \\\n        \\/       \\/                \\/        \\/\n     ____.____ ___.____________ ___________\n    |    |    |   \\   \\_   ___ \\\\_   _____/\n    |    |    |   /   /    \\  \\/ |    __)_\n/\\__|    |    |  /|   \\     \\____|        \\\n\\________|______/ |___|\\______  /_______  /\n                              \\/        \\/'
        nb = new-branch
        new-branch = !sh -c 'git chain "co\\ ${2:-master}" "upstream" "co\\ -b\\ $1"' -
        nuke = !git chain upstream "clean\\ -dffx" gc
        onward = !git chain fixup 'rebase --continue'
        p = push
        pf = "push -f"
        pu = "pull --rebase --ff-only"
        pull-push = "!git chain p push"
        # we frequently have local changes to dotfiles, so this makes it easier to pull and push commits
        pulldot = "!git chain stash p 'stash apply'"
        pushdot = "!git chain stash p push 'stash apply'"
        r = rebase
        rc = "rebase --continue"
        rebase-branch = !sh -c 'git chain "co\\ $1" rebase-push'
        rebase-push = !sh -c 'git chain "full-rebase\\ ${1:-master}" "push\\ -f"'
        rename-branch = !sh -c 'git chain "co\\ $1" "co\\ -b\\ $2" "branch\\ -D\\ $1"' -
        ri = "rebase -i"
        rim = "rebase -i master"
        root = "rev-parse --show-toplevel"
        rp = rebase-push
        rH = "reset HEAD"
        s = st
        sh = show
        sH = show HEAD
        st = status
        status = "status --show-stash"
        u = up
        up = upstream
        upstream = "!git remote -v | grep -q dotfiles || ( git reset --hard @{upstream}; git fetch --all; git fetch --tags --force; git pu )"
        what-branch = "!git branch --no-color 2> /dev/null | sed -e '/^[^*]/d; s/^* //;'"

[push]
        default = current

[github]
        user = stpierre

[sendemail]
        from = chris.a.st.pierre@gmail.com
        smtpencryption = tls
        smtpserver = smtp.gmail.com
        smtpuser = chris.a.st.pierre@gmail.com
        smtpserverport = 587

[gpg]
        program = gpg2

[interactive]
        singleKey = true
